@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");



/* Font Family */
@font-face {
  font-family: 'Sangblue';
  src: url("../Assets/font/SangBleu-Sunrise.ttf");
}

:root {
  --primary-color: #aa6aaa;
  --secondary-color: #e5dce5;
  --tertiary-color: #717175;
  --bg-secondary-color: #18212D;
  --card-color: #EAE4EA;
  --bg-color: linear-gradient(to top,
      rgba(207, 206, 198, 0.32) 0%,
      rgba(207, 206, 198, 0.2784) 37%,
      rgba(207, 206, 198, 0.1632) 59%,
      rgba(207, 206, 198, 0.1664) 100%);
}

body,
html {
  overflow-x: hidden;
  font-family: 'Sangblue';
}

a {
  display: inline-block;
  text-decoration: none;
}

figure {
  margin: 0;
}


h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
}

.ftr-container {
  max-width: 1428px;
}

.btn {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  transition: all 0.3s ease;
  position: relative;
  text-transform: capitalize;

  &:hover {
    background: var(--primary-color);
    color: var(--card-color);
  }
}

.btn:active {
  transform: scale(0.96);
}

.btn::before,
.btn::after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btn:hover::before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}


@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btn-primary {
  background: var(--primary-color);
  border: none;
  transition: 0.3s linear;

  &:hover {
    background: var(--card-color);
    color: var(--bg-secondary-color);
    transform: scale(1.05);
  }
}


.btn-secondary {
  background: var(--card-color);
  border: none;
  color: var(--bg-secondary-color);
}

.btn-tertiary {
  background: #FFFFFF;
  padding: 16px 35px;
  border-radius: 29px;

  &:hover {
    background: var(--card-color);
    color: var(--bg-secondary-color);
    transform: scale(.95);
  }
}

p {
  font-family: "DM Sans", sans-serif;
  color: var(--tertiary-color);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.title1 {
  font-size: clamp(2.5rem, 4vw, 4.154rem);
}

.title2 {
  font-size: clamp(2.3rem, 3.6vw, 3.846rem);
}

.title3 {
  font-size: clamp(1.6rem, 2.2vw, 2.154rem);
}

/* 
==============
Loading Screen
==============
*/

#onload-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.onload-hidden {
  display: none !important;
}

#alert-overlay {
  pointer-events: none;
}

#alert-overlay.active {
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
}

/* Loading Animation */
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {

  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
}

/* 
==============
Header Section
==============
*/

.header-section {
  font-family: "Dm Sans", sans-serif;
}

.navbar {
  --bs-navbar-padding-y: 1.125vw;
}

.navbar-wrapper {
  flex-grow: 2;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}



.nav-btn-sm {
  display: none;
}

.offcanvas {
  flex-direction: row;
}

.navbar-container {
  max-width: 1428px !important;
}

.navbar-nav {
  margin-right: 33px;
}

.nav-logo {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 52px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  max-width: 224px;
}

.navbar-brand>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn>.btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 14px;
}

.nav-item {
  margin-right: 45px;
}

.nav-item:last-child {
  margin: 0;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0 !important;
  color: var(--bg-secondary-color);
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--bg-secondary-color);
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  transition: all 0.2s linear;
}

.nav-link:hover::after {
  width: 100%;
}

.offcanvas {
  z-index: 9999;
}

/* Banner Section */

.banner-section {
  padding: 0px 15px 81px;
  /* to calculate the vw use px to vw website*/
}

.banner-wrpr {
  background: url("../Assets/bg.png") no-repeat center/cover;
  border-radius: 20px;
  text-align: center;
  padding-top: 80px;
}

.banner-content>h1 {
  max-width: 984px;
  margin: 0 auto 22px;
  color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;

}

.banner-content>.btn {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 20px;
}

.banner-content>p {
  max-width: 817px;
  margin: 0 auto 30px;

}

.banner-content>a {
  margin-bottom: 36px;
}

.banner-content>figure {
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 1140px;
  padding: 13px 15px 0;
}

.banner-content>figure>img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  object-fit: cover;
}

/* Potential Section */
.potential-sec {
  padding-bottom: 63px;
}

.potential-rw {
  --bs-gutter-x: calc(63px / 2);
}

.potential-hdr {
  max-width: 513px;
  margin-left: auto;
  margin-bottom: 82px;
  margin-top: 47px;
}

.potential-hdr-img {
  max-width: 475px;
}

.potential-hdr-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.potential-scnd-hdr-img {
  max-width: 440px;
  margin-right: auto;
}

.potential-scnd-hdr-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.potential-scnd>div>.btn {
  --bs-btn-padding-x: 41px;
  --bs-btn-padding-y: 15px;
}

.potential-scnd>div>p {
  margin: 72px 0 77px;

}

/* 
================
Together section 
================
*/

.together-section {
  padding: 100px 15px;
  background: var(--bg-color);
}

.together-section h2 {
  max-width: 834px;
  margin: 0 auto 47px;
  text-align: center;
  color: var(--bg-secondary-color);
}

.together-content>.title3 {
  color: var(--bg-secondary-color);
}


.bg-violet {
  background: var(--primary-color) !important;
}

.bg-violet a,
.bg-violet h3,
.bg-violet p {
  color: white !important;
}

.together-img {
  margin-bottom: 20px;

}

.together-img>img {
  width: 100%;
  height: 356px;
  object-fit: cover;
  border-radius: 10px;
}

.together-card {
  height: 356px;

  background: var(--card-color);
  border-radius: 10px;
  padding: 30px 29px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.together-content>p {
  margin-top: 30px;
}

.contact-btn {
  color: var(--bg-secondary-color);
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Testimonial Section */
.testi-sec {
  padding: 100px 0 87px;
}

.testihdr {
  margin-bottom: 37px;
}

.hdr-top {
  font-size: 14px;
  color: var(--bg-secondary-color);
  padding: 10px 18px;
  border: 1px solid #efeeed;
  border-radius: 50px;
}

.testihdr>.title2 {
  margin-top: 25px;
  color: var(--bg-secondary-color);
}

.testimonial-container {
  max-width: 1107px;
  margin: 0 auto;
}

.testimonial-items {
  overflow: hidden;
}

.testimonial-img-slick {
  max-width: 595px;
  margin: 0 auto;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: scale(0.6);
  filter: grayscale(1);
  transition: all 0.3s linear;
  opacity: 0.4;
}

.testimonial-img>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial-items.slick-center .testimonial-img {
  transform: scale(1) !important;
  filter: grayscale(0) !important;
  opacity: 1 !important;
}

.testimonial-items.sl-next .testimonial-img,
.testimonial-items.sl-prev .testimonial-img {
  transform: scale(0.8) !important;
  filter: grayscale(1);
  opacity: 1 !important;
}

.testimonial-cntn-slider {
  max-width: 808px;
  margin: 0 auto;
}

.testimonial-cntn-items {
  text-align: center;
}

.testimonial-cntn-items>p {
  color: var(--tertiary-color);
  line-height: 27px;
}


.title4 {
  color: var(--primary-color);
  margin: 15px 0;
}

.testi-cntn-btm>p {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

.slick-prev:before,
.slick-next:before {
  content: none !important;
}


.custom-arrow {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #A06CC4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.custom-arrow svg path {
  stroke: #fff !important;
}

.slick-prev.custom-arrow,
.slick-next.custom-arrow {
  opacity: 1 !important;
  visibility: visible !important;
}

.custom-arrow:hover {
  background: #fff;
  box-shadow: 0 0 14px 12px #C4C4C4;
}

.custom-arrow:hover svg path {
  stroke: #A06CC4 !important;
}

.slick-animating .custom-arrow svg path {
  stroke: #fff !important;
}


.custom-arrow:active {
  background: #A06CC4 !important;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.custom-arrow:active svg path {
  stroke: #fff !important;

}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 1 !important;
  pointer-events: auto !important;

}

.custom-arrow:focus {
  outline: none !important;
  color: #A06CC4;
}

.slick-prev {
  left: -100px;
}

.slick-next {
  right: -100px;
}

.testimonial-img-slick {
  position: relative;
}



/* Footer Section */
.ftr-sec {
  background-color: var(--bg-secondary-color);
  padding: 123px 0 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;

}

.footer-floatBox {
  width: 945px;
  background: #8A737D;
  padding: 35px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -70px;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.footer-floatBox p {
  margin: 0;
  color: #fff;
  font-size: clamp(2.4rem, 3vw, 3.5rem);
}

.ftr-arrow {
  width: 110px;
  margin: 0 20px;
}

.ftr-arrow>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.ftr-top {
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}


.ftr-logo {
  max-width: 195.12px;
  margin: 0 auto;
}

.ftr-logo>a {
  width: 100%;
}

.ftr-logo>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ftr-list1 {
  max-width: 105px;
  margin: 0 auto;
}

.ftr-list2 {
  max-width: 166px;
  margin: 0 auto;
}

.ftr-hdr {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22.41px;
  margin-bottom: 48px;
  position: relative;
}

.ftr-hdr::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  height: 1px;
  width: 52px;
  top: 180%;
  left: 0;
}

.ftr-list {
  margin-bottom: 0;
}

.ftr-list>li {
  margin-bottom: 24px;
}

.ftr-list>li:last-child {
  margin-bottom: 0;
}

.ftr-links {
  font-size: 16px;
  color: #FFFFFF;
  position: relative;
  white-space: nowrap;
}

.ftr-links::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  top: 100%;
  width: 0;
  height: 1px;
  transition: all 0.2s linear;
}

.ftr-links:hover::after {
  width: 100%;
}

.ftr-right {
  max-width: 345px;

}

.ftr-form input[type="email"] {
  width: 293px;
  background-color: transparent;
  border-radius: 50px;
  outline: 1px solid #eef0f8;
  padding: 12px 14px;
  color: #FFFFFF;
  font-size: 16px;
}

.ftr-form input[type="email"]::placeholder {
  font-weight: 300;
  color: #FFFFFF;
}

.submit-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 6px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease;
}

.submit-btn input[type="submit"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  border: none;
  background: transparent;
}

.submit-btn svg {
  z-index: 2;
  transform: translateX(-25%);
  transition: opacity 0.2s ease;
}

.submit-btn:hover svg {
  animation: flyTopRight 0.7s ease forwards;
}

@keyframes flyTopRight {
  0% {
    transform: translate(-25%, 0) scale(1);
    opacity: 1;
  }

  40% {
    transform: translate(15px, -10px) scale(1.15);
    opacity: 0.8;
  }

  100% {
    transform: translate(40px, -30px) scale(0.7);
    opacity: 0;
  }
}

.submit-btn:hover {
  background-color: var(--btn-color);
}


.scl-list {
  margin-top: 25px;
}

.scl-list>li {
  margin-right: 20px;
}

.scl-links {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}

.scl-links:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
}

.scl-links path {
  transition: all 0.4s ease-in;
}

.scl-links:hover path {
  fill: var(--tertiary-color);
}

.copyright {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 25px;
  margin-top: 17px;
  white-space: nowrap;
}

.copyright>a {
  color: #FFFFFF;
}

/* 
===================
Responsive Section
===================
*/


@media screen and (max-width: 992px) {
  .luxy-el {
    transform: none !important;
  }



  /* Header Section */

  .nav-logo {
    max-width: 110px;
    left: 15px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav-item:last-child {
    margin: 0;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .nav-btn-sm {
    display: block;
    margin-left: auto;
  }

  .nav-btn-sm>a {
    font-size: 14px;
  }

  .nav-btn {
    display: none;
  }

  .offcanvas {
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .btn-close {
    margin-right: auto;
    margin-left: 0 !important;
    font-size: 1.5rem;
  }

  .offcanvas-header {
    display: flex;
    align-items: start;
    width: 100%;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .btn-secondary {
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 10px;
  }

  /* Banner Section */
  .banner-section {
    padding: 0 3.125vw 59px;
  }

  .banner-wrpr {
    padding-top: 48px;
  }

  /* Potential Section */
  .potential-sec {
    padding: 40px 0;
  }

  .potential-prmry {
    margin-bottom: calc(63px / 2);
  }

  .potential-hdr {
    margin: 0 auto 40px;
    text-align: center;
  }

  .potential-hdr-img {
    margin: 0 auto;
  }

  .potential-scnd {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .potential-scnd>div {
    margin-bottom: 30px;
  }

  .potential-scnd>p {
    margin: 15px 0;
  }

  .potential-scnd-hdr-img {
    margin: 0 auto;
  }

  .potential-scnd>div>p {
    margin: 25px 0;
  }

  /* Testimonial Section */
  .slick-prev {
    left: -70px;
    top: 45%;
  }

  .slick-next {
    right: -70px;
    top: 45%;
  }

  /* Footer Section */
  .footer-floatBox {
    width: 85%;
    padding: 30px 35px;
  }

  .footer-floatBox p {
    font-size: 2.4rem;
  }

  .ftr-arrow {
    width: 90px;
    margin: 0 15px;
  }

  .footer-floatBox .btn-tertiary {
    padding: 10px 28px;
  }

}

@media screen and (max-width:768px) {

  /* Footer Section */
  .ftr-top {
    padding-top: 50px;
  }

  .footer-floatBox {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 28px 25px;
    width: 90%;
    top: -90px;
  }

  .ftr-arrow {
    width: 75px;
    margin: 0;
  }

  .footer-floatBox .btn-tertiary {
    padding: 10px 30px;
    font-size: 15px;
  }
}



@media screen and (max-width: 576px) {

  /* Navbar Section */
  .navbar {
    --bs-navbar-padding-y: 2vw;
  }

  /* Banner Section */
  .banner-content>.btn {
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 10px;
  }

  .banner-content>figure {
    padding: 6.5px 7.5px 0;
  }



  /* Footer Section */
  .ftr-sec {
    padding-block: 50px 16px;
  }

  .ftr-logo {
    max-width: 150px;
  }

  .ftr-list2 {
    margin: 0 auto;
  }

  .ftr-links {
    font-size: 13px;
  }

  .ftr-top {
    padding-bottom: 0;

  }

  .copyright {
    font-size: 12px;
  }

  .footer-floatBox {
    width: 92%;
    padding: 25px 20px;
    top: -100px;
  }

  .footer-floatBox p {
    font-size: 1.9rem;
  }

  .ftr-arrow {
    width: 60px;
  }

  .footer-floatBox .btn-tertiary {
    padding: 10px 24px;
  }
}